<div class="navbar-wagon">
  <!-- Logo -->
  <div class="circle">
    <div class="circle2 align-center"></div>
    <div class="circle3 align-center"></div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to 'Restaurants', restaurants_path, :class=>"navbar-wagon-item navbar-wagon-link"%>
    <%= link_to 'Add restaurants', new_restaurant_path, :class=>"navbar-wagon-item navbar-wagon-link"%>

    <!-- Profile picture with dropdown list -->
    <%= link_to 'Sign in', new_restaurant_path, :class=>"btn btn-yours"%>

    <%= link_to 'login', new_restaurant_path, :class=>"btn btn-yours-inverse"%>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to 'Restaurants', restaurants_path%></li>
        <li><%= link_to 'Add restaurants', new_restaurant_path %></li>
      </ul>
    </div>
  </div>
</div>
